.about {
  position: relative;
  grid-column: 2;
  display: grid;
  grid-row: 3;
  &-slider {
    &__header {
      justify-self: center;
      p {
        font-size: 40px;
        font-family: "Neutral Face Bold";
        color: #fffbff;
        -webkit-text-stroke: 1.2px #000000;
        margin: 60px 0px 40px 0px;
      }
    }
  }

  &__text {
    position: relative;
    grid-column: 2;
    display: grid;
    &-repka {
      margin: 40px 0px;
      display: flex;
      justify-content: center;
      img {
        width: 398px;
      }
    }
    &-block {
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 142px;
    }
    p {
      font-size: 20px;
      font-family: "Coolvetica Italic";
      color: #1a1a1a;
      margin: 0px;
    }
  }
}

.about__img {
  min-width: 454px;
  border: 1px solid #696969;
  border-radius: 8px;
}
