.animation {
  position: relative;
  height: 240px;
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  &__typewriter {
    height: 120px;
    width: 701px;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: "Coolvetica Italic";
    font-size: 52px;
    color: #fffbff;
    -webkit-text-stroke: 1.2px #000000;
    p {
      margin: 0;
    }
  }
  &__img {
    height: 212px;
    width: 215px;
    display: flex;
    align-self: flex-end;
  }
}
