.video {
  grid-column: 2;
  position: relative;
  grid-row: 3;
  display: flex;
  min-width: 916px;
  width: 100%;
}

video {
  min-width: 916px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #696969;
  margin: 60px 0px 60px 0px;
}
