* {
  box-sizing: border-box !important;
}
html {
  width: 100%;
}
body {
  background-color: #fffbff;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 2.5fr 5.5fr 2.5fr;
  border-bottom: 1px solid #696969;
  grid-column: 1 / span 3;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.swiper {
      display: flex;
  width: 100%;
  grid-column: 2;
  min-width: 916px;
  border-radius: 8px;
  &-slide {
    display: flex;
  }
}

.about__img {
  width: 100%;
  min-width: 454px;
  border-radius: 8px;
  border: 1px solid #696969;
}

.line-right {
  position: absolute;
  right: 18.385%;
  height: 100%;
  width: 1px;
  background-color: #696969;
}

.line-left {
  position: absolute;
  left: 18.385%;
  height: 100%;
  width: 1px;
  background-color: #696969;
}
