* {
  box-sizing: border-box !important;
}
body {
  background-color: #fffbff;
  margin: 0 auto;
  padding: 0;
}

.page-layout {
  display: grid;
  grid-template-columns: 2.5fr 5.5fr 2.5fr;
  grid-template-rows: auto auto;
}

.container {
  display: grid;
  grid-template-columns: 2.5fr 5.5fr 2.5fr;
  border-bottom: 1px solid #696969;
  grid-column: 1 / span 3;
}

.swiper {
  width: 100%;
  grid-column: 2;
  min-width: 916px;
  border-radius: 8px;
  &-slide {
    display: flex;
  }
}

.about__img {
  width: 100%;
  min-width: 454px;
  border-radius: 8px;
  border: 1px solid #696969;
}
