@font-face {
    font-family: "Neutral Face";
    src: url("../fonts/NeutralFace.otf"), format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Neutral Face Bold";
    src: url("../fonts/NeutralFaceBold.otf"), format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Chava";
    src: url("../fonts/Chava-Regular.otf"), format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Coolvetica";
    src: url("../fonts/Coolvetica.ttf"), format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Coolvetica Italic";
    src: url("../fonts/Coolvetica-Italic.otf"), format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Display Semibold"; 
    src: url("../fonts/SFProDisplaySemibold.otf"), format("opentype");
    font-weight: 400;
}