@font-face {
    font-family: "NeutralFace";
    src: url("../font/NeutralFace.otf"), format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "NeutralFaceBold";
    src: url("../font/NeutralFaceBold.otf"), format("opentype");
    font-weight: 700;
}
