.animation {
    height: 240px;
    border-bottom: 1px solid #696969;
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
      &__img-1 {
        height: 120px;
        width: 701px;
        display: flex;
    }
    &__img-2 {
        height: 212px;
        width: 215px;
        display: flex;
    }
}