.header {
  height: 80px;
  min-width: 916px;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Neutral Face";
  font-size: 12px;
  &__logo {
    background-color: transparent;
    border: none;
    display: flex;
    grid-column: 2;
    align-items: center;
    gap: 8px;
    &-text {
      font-size: 14px;
      font-family: "Chava";
      color: #4b4b4b;
    }
  }
  &__nav {
    display: flex;
    gap: 32px;
    button {
      margin: 0;
      position: relative;
      color: black;
      align-self: center;
      border: none;
      background-color: transparent;
      font-size: 12px;
      font-family: "Neutral Face";
      padding: 0;
    }
    button:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      border-radius: 1px;
      background-color: #18272f;
      bottom: 0;
      left: 0;
      transform-origin: center;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
    button:hover::before {
      transform-origin: center;
      transform: scaleX(1);
    }
    button:active {
      background-color: #daf3f3;
    }
  }

  &__lang {
    display: flex;
    gap: 5px;
  }
  button:active {
    cursor: pointer;
  }
}
