.kit {
  grid-column: 2;
  grid-row: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__header {
    font-size: 40px;
    font-family: "Neutral Face Bold";
    color: #fffbff;
    -webkit-text-stroke: 1.2px #000000;
    margin: 60px 0px 40px 0px;
  }
  &__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    min-width: 916px;
    p {
      display: flex;
      font-size: 20px;
      font-family: "Coolvetica Italic";
      color: #1a1a1a;
    }
    img {
      width: 500px;
    }
  }
}

.package {
  &__header {
    align-self: flex-start;
    margin: 40px 0px 20px 0px;
    font-family: "Coolvetica";
    font-size: 24px;
  }
  &__img {
    min-width: 175.2px;
    border-radius: 8px;
    border: 1px solid #696969;
  }
}
