.swiper {
  width: 1010px;
  height: 100%;
  &-pagination {
    &-bullets {
      display: none;
    }
  }
  &-button {
    &-prev {
      color: #696969;
    }
    &-next {
      color: #696969;
    }
  }
  img {
    width: 500px;
    height: 282px;
    border: 1px solid #696969;
    border-radius: 8px;
  }
}