.video {
  grid-column: 2;
  grid-row: 3;
  padding: 60px 0px 60px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  border: 1px solid #696969;
  border-radius: 8px;
  overflow: hidden;
  min-width: 916px;
  box-sizing: border-box;
}
